@import "../../assets/scss/_variables.scss";
.info {
    &__text {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        &__concealed {
            display: none;
        }
    }
    &__title {
    	/*Хитрая мазинация, чтобы при ссылках на якоря, мы не теряли данные под шапкой. 80 - ширина шапки*/
    	padding-top: 80px;
		margin-top: -80px;
    }
}
